{%- assign news = site.data.news -%}
{%- assign news_limit = site.news_limit | default: 6 -%}
<ul class="news">
  {%- for item in news limit: news_limit %}
  {% include news-item.html item=item %}
  {%- endfor %}
</ul>
{%- if news.size > news_limit %}
<details class="more">
  <summary><span class="more-show">Show {{ news.size | minus: news_limit }} earlier</span><span class="more-hide">Show less</span>{% include icon.html name="chevron" %}</summary>
  <ul class="news">
    {%- for item in news offset: news_limit %}
    {% include news-item.html item=item %}
    {%- endfor %}
  </ul>
</details>
{%- endif %}
